@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

header {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

nav {
    border: 2px dotted red;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    margin: auto;
    padding: 10px 20px;
}

/* Logo */
.logo img {
    height: 150px;
    width: auto;
}

/* Menu centralizado */
.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

/* efeito profissional */
.menu a:hover {
    color: #0077ff;
}

/* mantém equilíbrio do layout */
.right {
    width: 50px;
}

section{
    border: 2px dotted red;
    width: 99%;
    height: 400px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#servicos {
    border: 5px dotted rgb(0, 255, 21);
    height: 800px;
    width: 100%;
    margin: auto;
}

#servicos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

#caixa {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 90%;
    border: 5px dotted rgb(55, 216, 245);
    margin: auto;
}

.caixas {
    width: 30%;
    height: 99%;
    border: 5px dotted red;
    margin: 5px;
    
}

